<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Input Form</title>
</head>
<body>

<form method="post" action="itemInput" th:object="${itemInputForm}">

    <label for="description"><input id="description" type="text" placeholder="Description" th:field="*{description}"></label>
    <label for="weight"><input id="weight" type="number" placeholder="Weight" step="any" th:field="*{weight}"></label>

    <label for="submit">
        <button type="submit" id="submit">Submit</button>
    </label>

</form>

</body>
</html>