<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Input Form</title>
</head>
<body>

<form method="post" action="orderInput" th:object="${orderInputForm}">

<!--    <label for="createDate"><input id="createDate" type="date" placeholder="2021-12-08" th:field="*{createDate}" th:value="*{createDate}"></label>-->

    <label for="customer">
        <select id="customer" th:field="*{listIndexCustomer}">
            <option value="select a customer"></option>
            <option th:each="temp : ${customerList}"
                    th:text="${temp.getName}"
                    th:value="${customerList.indexOf(temp)}"></option>
        </select>
    </label>

    <label for="orderStatus">
        <select id="orderStatus" th:field="*{listIndexCustomer}">
            <option value="select a customer"></option>
            <option th:each="temp : ${T(de.mischokacademy.SalesOrderSystem.Domain.Order.OrderStatus).values()}"
                    th:text="${temp}"
                    th:value="${temp}"></option>
        </select>
    </label>

    <label for="submit">
        <button type="submit" id="submit">Submit</button>
    </label>

</form>

</body>
</html>